{% extends "master.html" %}


{% block title %}Home{% endblock %}

{% block body %}

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active" id="movie-option">
    <input type="radio" name="options" checked> Movie
  </label>
  <label class="btn btn-primary" id="tv-option">
    <input type="radio" name="options"> TV Show
  </label>
</div>

<div>
<form method="POST" id="movie-search">
    Movie:
    <input type="text" name="movie">
    <input type="submit" title="Submit">
</form>
<form method="POST" id="tv-search" hidden>
    Show:
    <input type="text" name="show">
    Season:
    <input type="text" name="season">
    Episode:
    <input type="text" name="episode">
    <input type="submit">
</form>
</div>

{% for option in options %}
<div>
    <h3><a href="add_magnet/{{option.magnet}}&search={{search}}">{{option.title}}</a></h3>
    <p>{{option.text}}</p>
</div>
{% endfor %}
{% endblock %}