<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %} - Hello Flask!</title>

  <link type="text/css" rel="stylesheet"
       href="{{ url_for('static',
                        filename='bootstrap.min.css')}}" />

        <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>

  <script src="{{ url_for('static',
                        filename='jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static',
                        filename='bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',
                        filename='main.js')}}"></script>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script src="{{url_for('static', filename='jquery.redirect.js')}}"></script>
          <link type="text/css" rel="stylesheet"
       href="{{ url_for('static',
                        filename='hello.css')}}" />



</head>
<body>

{% block body %}{% endblock %}

</body>
</html>
