{% extends "master.html" %}


{% block title %}Home{% endblock %}

{% block body %}
<!--	<head>-->
<!--		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--		<script type=text/javascript>-->
<!--			$(function() {-->
<!--			  $('#hey').bind('input', function() {-->
<!--				$.getJSON('/background_process', {-->
<!--				  search: $('input[name="search_input"]').val(),-->
<!--				}, function(data) {-->
<!--				  $("#result").text(data.result);-->
<!--				});-->
<!--				return false;-->
<!--			  });-->
<!--			});-->
<!--		</script>-->
<!--	</head>-->

<!--	<body>-->
<!--		<div class='container'>-->
<!--		<h3>Welcome! Which is the best programming language of them all?</h3>-->
<!--			<form autocomplete="off">-->
<!--				<input type=text size=5 name=search_input id="hey">-->
<!--				<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>-->
<!--			</form>-->
<!--		<p id=result></p>-->
<!--		</div>-->
<!--	</body>-->

<script type="text/javascript">
    $(function () {
        $("#autocomplete").autocomplete({
            source: function (request, response) {
                $.getJSON("{{url_for('autocomplete')}}", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function (data) {
                    response(data.matching_results); // matching_results from jsonify
                    // for (var i = 0; i < data.matching_results.length; i++) {
                    //     let uls = $("#ui-id-1").children("li");
                    //     uls.append('<div>' + data.matching_results[i]['overview'] + '</div>')
                    // }
                });
            },
            minLength: 2,
            select: function(event, ui) {
                console.log(ui.item);
                $.redirect("/handle_data", ui.item);
            },
        });
    });
    // $( ".selector" ).autocomplete({
    //     open: function( event, ui ) {
    //         console.log("ay");
    //     }
    // });
    //
    // $( ".selector" ).on( "autocompleteopen", function( event, ui ) {
    //         console.log("hey");
    //         // highlight the mouseover target
    //         event.target.style.color = "orange";
    // });

</script>

<div>
    <label for="autocomplete">Search for a movie: </label>
    <input name="autocomplete" type="text" id="autocomplete" class="form-control"/>
</div>
<p id="description"></p>
{% endblock %}